.link-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.restaurant-item {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
}
@media screen and (min-width: 768px) {
  .restaurant-item {
    width: 350px;
    margin-bottom: 32px;
  }
}
.restaurant-image {
  width: 145px;
  height: 95px;
  border-radius: 8px;
  margin-right: 16px;
  flex-shrink: 0;
}

.restaurant-name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #334155;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .restaurant-name {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #334155;
  }
}
.restaurant-cuisine {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #64748b;
  margin-top: 8px;
  margin-bottom: 9px;
}
@media screen and (min-width: 768px) {
  .restaurant-cuisine {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #64748b;
  }
}
.rating-container {
  display: flex;
  align-items: center;
  margin: 0px;
}

.rating {
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #1e293b;
}
@media screen and (min-width: 768px) {
  .rating {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #0f172a;
  }
}

.star {
  font-size: 20px;
  color: #ffcc00;
  margin-top: 0px;
  margin-bottom: 0px;
}
.reviews {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  color: #64748b;
}
